body{
    direction: rtl;
    background-color: #0b3e6f;
}
ul{
    list-style: none;
}
ul li{
    float: right;
    padding: 5px;
}
ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
ul li:hover{
    border-radius: 30%;
    font-size: 16px;
    transition: z-index;
    background-color: #0b97c4;

}
ul li ul{

    display: none;
    padding: 2px;
}
ul li:hover>ul{
    display: block;
}
ul li ul li{
    float: right;
    padding: 5px;
    background: #fff;
    border-radius: 30%;
}
ul li ul li a{
    color: #000;
}
ul li ul li:hover{
    background: #0000ff;

}